.peopleCard {
    height: 350px;
    width: 200px;
    padding: 0px 0px;
    margin: 10px 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.799);
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0.525);
    border-radius: 15px;
}

.peopleCard:hover {
    transform: scale(1.1);
    transition: .5s;
}

.peopleCard img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 280px;
    width: 200px;
}

.peopleCard a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
}

.peopleCard a:hover {
    color: rgb(85, 91, 6);
    text-decoration: underline;
}