.showCard {
    height: 440px;
    width: 200px;
    padding: 0px 0px;
    margin: 10px 20px;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(255, 255, 255, 0.525);
    border-radius: 15px;
    transform: scale(1, 0.95);
    /* background-color: rgba(128, 128, 128, 0.498); */
}

.showCard h3 {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.showCard a {
    text-decoration: none;
    color: rgba(53, 48, 48, 0.781);
}

.showCard a:hover {
    color: lightgray;
    text-decoration: underline;
}

.showCard p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.showCard img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 280px;
    width: 200px;
}

.showScore {
    text-align: center;
    color: rgb(85, 91, 6);
    font-weight: 800;
    font-size: 22px;
}

.showCard:hover {
    transform: scale(1.10, 1.05);
    transition: .5s;
}